@import url('https://fonts.cdnfonts.com/css/apercu');

body{
    padding-top: 55px;
    z-index:0;
    min-height:100%;
    font-family: 'Apercu', sans-serif;
    font-weight: 100;
    color:whitesmoke;
    background-color: #1F2A44;
    overflow-x:hidden;
}

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

.landing{
    background-color: #1F2A44;
    height: 100vh;
    width: 100vw;
    position:relative;
}

.navbar-dark{
    background-color:#384967;
}

.row-content{
    padding: 0px 0px 200px 0px;
}

footer a:hover{
    transform:scale(1.3);
    color:#49C5B1;
}

.carousel-indicators{
    bottom: -2.7rem;
}

.carousel-indicators li {
    width: 8px;
    height: 8px;
    border-radius: 100%;
}

.carousel-item img{
    border-radius: 3%;
}

.tag{
    border: 2px solid #49C5B1;
    color: #49C5B1;
    font-weight:500;
    font-size:90%;
    padding: 0rem 0.2rem;
    margin: 1.8rem .2rem 0rem .2rem;
    display:inline-block;
}

.text{
    font-weight: 300;
    color:#A2B2C8;
}

.sub-heading{
    text-transform: uppercase;
    color:#49C5B1;
    font-weight:700;
    letter-spacing: 0.20rem;
}

.name{
    font-weight: 700;
    color:#49C5B1;
}

.extra{
    color: floralwhite;
    font-weight: 500;
}

.greeting{
    position: relative;
    top: 30%;
    left: 15%;
    margin-right:20%;
    display:none;
}

.box-test{
    border: 5px green ridge;
}

#top-btn {
    display:none;
    font-size:30px;
    cursor:pointer;
    right: 5%;
    bottom: 2%;
}

#top-btn:hover{
    transform: translate(0px, -5px);
}

.top-area{
    position:fixed;
    bottom:0;
    z-index:50;
}

/* for small screen only */
@media screen and (max-height:500px){
    .greeting{
        top:20%;
    }
}

@media (max-width: 400px){
    h1 {font-size:1.75rem;} 
    h5 {font-size:1rem;}
}
@media (min-width: 400px) {  
    h1 {font-size:2rem}
}
@media (max-width:750px){
    .sub-heading {letter-spacing: 0.10rem;}
}
@media (min-width: 800){
    h1 {font-size:3rem}
}
@media (min-width: 992px) {
    h1 {font-size:3rem;} 
}
@media (min-width: 1200px) {  
    h1 {font-size:4rem;}     
}